$def with (title, heading, content, error=None)
<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>$title</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css" />
    <script type='text/javascript' src='/static/js/tablesort.js'></script>
</head>
<body>
    $if content:
        <div id="content">
            <h1 class="right">$:heading</h1>
            <div id="line"></div>
            $:content
        </div>
    $if error:
        <div id="error">$error</div>
</body>
</html>
