$def with (player)
    <h3 class="centered">$player['name']</h3>
    <div class="weaponstats">
        <table class="playerstats sortable autostripe">
            <caption>Weapon Stats</caption>
            <thead>
                <tr>
                    <th>Weapon</th>
                    <th>Frags</th>
                    <th>Deaths</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>
                $for weapon in player['frag_stats']['weapons']:
                    <tr>
                        <td>$weapon</td>
                        <td class="centered">$player['frag_stats']['weapons'][weapon]['frags']</td>
                        <td class="centered">$player['frag_stats']['weapons'][weapon]['deaths']</td>
                        <td class="right">$player['frag_stats']['weapons'][weapon]['ratio']</td>
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="adversarialstats">
        <table class="playerstats sortable autostripe">
            <caption>Adversarial Stats</caption>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Frags</th>
                    <th>Deaths</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>
                $for adversary in player['frag_stats']['adversaries']:
                    <tr>
                        <td>$adversary</td>
                        <td class="centered">$player['frag_stats']['adversaries'][adversary]['frags']</td>
                        <td class="centered">$player['frag_stats']['adversaries'][adversary]['deaths']</td>
                        <td class="right">$player['frag_stats']['adversaries'][adversary]['ratio']</td>
                </tr>
            </tbody>
        </table>
    </div>
