$def with (server_ip, servers)
$if servers:
        <table id="servers" class="rowstyle-odd sortable-onload-5">
            <thead>
                <tr>
                    <th class="centered sortable fd-column-0">Server Name</th>
                    <th class="centered sortable fd-column-1">Players</th>
                    <th class="centered sortable fd-column-2">Type</th>
                    <th class="centered sortable fd-column-3">PWADs</th>
                    <th class="centered sortable fd-column-4">Current Map</th>
                    <th class="centered sortable fd-column-5">Port</th>
                </tr>
            </thead>
            <tbody>
            $for server in servers:
                <tr>
                    <td class="nolinebreak">
                        <a href="./$server['url_name']/">$server['name']</a>
                    </td>
                    $if not server['max_players']:
                        <td class="centered">$server['players'] / 16</td>
                    $else:
                        <td class="centered">
                            $server['players'] / $server['max_players']
                        </td>
                    <td class="centered">$server['nice_type']</td>
                    <td class=>$server['joined_wads']</td>
                    <td class="nolinebreak">
                        <a href="./$server['url_name']/0/">
                          $server['map']['name'] :: Map$server['map']['number']
                        </a>
                    </td>
                    <td class="centered">
                        <a href="zds://$server_ip:$server['port']">
                            $server['port']
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
$else:
    <div>No Servers Currently Running</div>

